.app.theme-candidate,
.profile.theme-candidate,
.theme-candidate {
  background: $bg-orange;
  .umana-header {
    background: transparent;
    .ant-menu-item.ant-menu-item-only-child.type-btn a {
      color: $color-white !important;
    }
  }
  .umana-header,
  .app--header.umana__header.is-login {
    background: $bg-orange;
  }
  .app--contents.umana.is-login,
  .app--contents.is-login,
  .umana-content-page {
    background: $bg-orange;
  }
  //titles
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid $color-orange !important;
    -webkit-text-fill-color: $color-orange;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  h2,
  .ant-steps.ant-steps-horizontal .ant-steps-item.ant-steps-item-process .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title {
    color: $color-orange !important;
  }
  // themes
  .theme-blue,
  .theme-orange {
    h2 {
      color: $color-orange !important;
    }
  }
  //buttons
  .ant-btn {
    &.ant-btn-primary {
      background: $color-orange !important;
    }
    &.ant-btn-link {
      background: transparent;
      color: $color-orange;
    }
    &.ant-btn.ant-btn-blue.ant-btn-sm,
    &.ant-btn.ant-btn-orange.ant-btn-sm,
    &.ant-btn-orange {
      background: $color-orange;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  //Select
  .ant-select.ant-select-single.ant-select-show-arrow,
  .ant-select.ant-select-single,
  .ant-select.ant-select-multiple {
    color: $color-text;
    &:hover {
      border-color: $color-orange !important;
      color: $color-orange;
    }
    .ant-select-selector {
      &:hover {
        color: $color-orange;
        border-color: $color-orange !important;
      }
    }
    &.ant-select-focused,
    &.ant-select-open {
      .ant-select-selector {
        border-color: $color-orange !important;
        &:hover {
          border-color: $color-orange !important;
        }
      }
    }
    .ant-select-selection-item {
      color: $color-text;
      &:hover,
      &:focus {
        color: $color-orange;
      }
    }
    .ant-select-selection-item {
      border-color: $color-orange !important;
    }
  }
  .ant-input-affix-wrapper.ant-input-search {
    box-shadow: none;
    border-radius: 0;
    border-color: rgba($color-text, 0.5);
    color: $color-orange;
    &:hover,
    &:focus {
      border-color: $color-orange;
    }
    .ant-input {
      box-shadow: none !important;
      color: $color-text;
      &:hover,
      &:focus,
      &:active {
        color: $color-orange !important;
      }
    }
  }
  // Card
  .umana-card,
  .umana-card.card-theme-orange {
    border-color: rgba($color-text, 0.5);
    .umana-card__parent-info {
      .ant-avatar {
        background: $color-orange;
      }
    }
    .title h5,
    .umana-card__title,
    .date i,
    .umana-card__link i {
      color: $color-orange;
    }
    .umana-card__link {
      border-color: $color-orange;
    }
    &:hover {
      border-color: $color-orange;
      .umana-card__link {
        background: $color-orange;
        i {
          color: $color-white;
        }
      }
    }
  }
  // Input
  .ant-form-item-control-input-content {
    input.ant-input,
    textarea.ant-input {
      background: $color-white;
      color: $color-text !important;
      &:hover,
      &:focus,
      &:active {
        border-color: $color-orange !important;
        color: $color-orange !important;
      }
    }
  }
  input.ant-input,
  textarea.ant-input {
    color: $color-text !important;
    &:hover,
    &:focus,
    &:active {
      border-color: $color-orange !important;
      color: $color-orange !important;
    }
  }
  // Input date
  // number
  .ant-input-number,
  .ant-picker.ant-picker-large {
    color: $color-text;
    .ant-picker-input {
      color: $color-text;
      input {
        color: $color-text;
      }
    }
    &.ant-input-number-focused,
    &:hover,
    &:focus,
    &:active,
    &.ant-picker-focused {
      color: $color-orange;
      border-color: $color-orange !important;
    }
  }
  //Sidebar
  .ant-steps.ant-steps-dot .ant-steps-item.ant-steps-item-active {
    .ant-steps-item-container {
      .ant-steps-item-icon .ant-steps-icon .ant-steps-icon-dot {
        background: $color-orange !important;
        color: $color-orange !important;
      }
    }
  }
  .umana-sitebar {
    .header-icon {
      background: $color-orange;
    }
    a {
      color: $color-orange;
    }

    &.theme-orange {
      .header-icon {
        background: $color-orange;
      }
      a {
        color: $color-orange;
      }
    }
  }
  // MODales
  .ant-modal-footer {
    button.ant-btn {
      background: $color-orange !important;
      background-color: $color-orange !important;
    }
  }
  .ant-avatar.ant-avatar-circle {
    background: $color-orange !important;
  }
  // menu
  .ant-menu.ant-menu-light.ant-menu-root {
    .ant-menu-item {
      color: $color-text;
      a {
        color: $color-text;
      }
      &.ant-menu-item-selected,
      &:hover {
        color: $color-orange;
        i {
          color: $color-orange;
        }
        a {
          color: $color-orange;
        }
      }
    }
  }
  //steps
  .umana-sitebar-childrens .ant-steps {
    .ant-steps-item {
      &.ant-steps-item-active {
        .ant-steps-item-container {
          padding-left: 5px;
          .ant-steps-item-icon,
          .ant-steps-item-title,
          .ant-steps-item-content,
          .ant-steps-icon,
          .i {
            color: $color-orange;
          }
        }
      }
      &:hover {
        .ant-steps-item-container {
          padding-left: 5px;
          div.ant-steps-item-icon,
          div.ant-steps-item-title,
          div.ant-steps-item-content,
          .ant-steps-icon,
          .i {
            color: $color-orange !important;
          }
        }
      }
    }
  }
  //sitebar
  .umana-sitebar-childrens {
    button.ant-btn,
    button.ant-btn.ant-btn-primary {
      background: transparent !important;
      color: $color-text !important;
      // border-bottom: 1px solid rgba($color-text, 0.1);
      box-shadow: none;
      i {
        margin-right: 10px;
      }
      &:hover,
      &:focus,
      &:active {
        background: $color-white !important;
        color: $color-orange !important;
        box-shadow: $shadow-input;
      }
    }
  }
  // table
  .ant-table {
    .ant-table-container {
      .ant-table-thead {
        th.ant-table-cell {
          color: $color-orange;
        }
      }
    }
  }
  // Switch
  .ant-switch {
    &.switch-large {
      background: $bg-orange;
      &.ant-switch-checked {
        border: 1px solid $color-orange !important;
        background: $color-orange;
      }

      &.theme-orange {
        &.ant-switch-checked {
          border: 1px solid $color-orange !important;
          background: rgba($color-orange, 0.3);
          .ant-switch-inner {
            color: $color-orange;
          }
        }
      }
    }
  }
  // radio button
  .ant-radio-group {
    .ant-radio-button-wrapper {
      &:hover {
        color: $color-orange;
      }
      &.ant-radio-button-wrapper-checked {
        border-color: $color-orange;
        border-right-color: $color-orange;
        color: $color-orange;
        &:hover {
          border-color: $color-orange;
          color: $color-orange;
        }
        &.ant-radio-button-wrapper-disabled {
          border: 1px solid $color-orange !important;
        }
      }
    }
  }

  .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: $color-orange;
  }

  //slider
  .ant-slider.ant-slider-with-marks {
    .ant-slider-step {
      .ant-slider-dot-active {
        border-color: $color-orange;
        background: $color-orange;
      }
    }
    .ant-slider-handle {
      border-color: $color-orange !important;
      &:hover {
        border-color: $color-orange;
      }
    }
    .ant-slider-track {
      background-color: $color-orange;
    }
  }
  // Checkbox
  .ant-checkbox-group {
    .ant-checkbox {
      .ant-checkbox-inner {
        &:hover {
          border-color: $color-orange !important;
        }
      }
      &.ant-checkbox-checked {
        .ant-checkbox-inner {
          background: $color-orange;
          border-color: $color-orange;
        }
      }
    }
  }
  // password input
  .ant-input-password {
    .ant-input.ant-input-lg {
      border: 1px solid transparent !important;
      border-color: transparent !important;
      border-radius: 0;
      height: 45px;
      &:hover,
      &:focus,
      &:active {
        border: 1px solid transparent !important;
        border-color: transparent !important;
      }
    }
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-orange !important;
      border-color: $color-orange !important;
    }
  }
  //pagination
  .ant-pagination {
    .ant-pagination-item {
      border-color: $color-white;
      &:hover {
        a {
          color: $color-orange;
        }
      }
      &.ant-pagination-item-active {
        border-color: $color-orange;
        color: $color-white;
        background: $color-orange;
        a {
          color: $color-white;
        }
      }
    }
  }
  .hidden-text {
    width: 230px;
    color: $color-orange;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:after {
      background: $color-orange;
    }
  }
  .umana-empty-layout {
    @include element(content) {
      h1,
      h2,
      h3,
      h4 {
        color: $color-orange;
      }
      .ant-btn.ant-btn-sm {
        background: $color-orange;
      }
    }
  }
}

.theme-candidate {
  background: transparent;
}
