@import './shared/mixins';

form {
  label {
    display: block;
    color: $color-text;
  }
}

fieldset {
  position: relative;
  border: 1px solid #e7e7e7;
  padding: 15px;
  margin-bottom: 10px;

  legend {
    display: inline-block !important;
    padding: 10px;
    width: auto !important;
    border: 0 !important;
  }

  .close-action {
    position: absolute;
    right: 11px;
    top: 24px;
    z-index: 88;
  }
}

.button {
  &--margin-24 {
    margin-bottom: 24px;
  }
}
