//singup

.umana-signup {
  min-height: calc(100vh - 80px);
  .ant-steps.ant-steps-horizontal {
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    box-shadow: none;
    .ant-steps-item-tail,
    .ant-steps-item-icon {
      display: none;
    }
    .ant-steps-item {
      background: transparent;
      box-shadow: none;
      transition: 0.5s ease-in-out;
      &.ant-steps-item-wait,
      &.ant-steps-item-do {
        width: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        margin-right: 0;
      }

      &.ant-steps-item-active,
      &.ant-steps-item-process {
        width: 100%;
        opacity: 1;
      }
    }
    .ant-steps-item-content {
      width: 100%;
      text-align: left;
      .ant-steps-item-title {
        font-size: 20px;
        font-family: $font-primary;
        text-align: left;
        color: $color-blue;
      }
    }
  }
  .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
    .ant-radio-button-wrapper {
      padding: 30px 20px;
      i {
        font-size: 30px;
        margin-right: 10px;
        transform: translateY(10px);
      }
      &.ant-radio-button-wrapper-checked {
        border-left-color: $color-blue;
      }
    }
  }
  .ant-radio-group.ant-radio-group-large {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px;
    .ant-radio-wrapper {
      font-size: 22px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .ant-radio {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        .ant-radio-input,
        .ant-radio-inner {
          width: 30px;
          height: 30px;
          border: 2px solid;
          border-color: $color-blue;
          &:after {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $color-blue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.login--form,
.signup--form {
  .ant-row.ant-form-item {
    margin: 0 10px 10px 0 !important;
  }
  .ant-btn.ant-btn-primary.ant-btn-sm {
    margin-left: auto;
    width: 100%;
    margin: 10px 0;
  }
  p {
    width: 100%;
    .ant-btn.ant-btn-link.ant-btn-sm {
      font-family: $font-primary;
      letter-spacing: 0;
      text-decoration: none;
    }
  }
}

.umana-signup-login-subtitle {
  margin-bottom: 20px !important;
  .ant-steps-item-container,
  .ant-steps-item.ant-steps-item-process {
    padding-left: 0 !important;
  }
  .ant-form.signup--form {
    .ant-row.ant-form-item.form-item--md,
    .ant-row.ant-form-item.form-item--lg {
      margin: 0 10px 10px 0 !important;
    }
    .ant-btn.ant-btn-primary.ant-btn-sm {
      margin-right: 10px;
    }
  }
}
.ant-form.signup--form,
.ant-form.login--form {
  .ant-row.ant-form-item.form-item--md,
  .ant-row.ant-form-item.form-item--lg {
    margin: 0 10px 10px 0 !important;
  }
  .ant-btn.ant-btn-primary.ant-btn-sm {
    margin-right: 10px;
  }
}

.umana.signup {
  background: $color-white;
  background-position-x: left;
  background-image: linear-gradient($bg-blue, $bg-blue);
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  background-position: 0px 0;
  padding-top: 60px;
  @include bp(xmedium) {
    padding-top: 80px;
  }
  .app--header.umana__header {
    z-index: 100;
    background: $color-white;
    @include bp(xmedium) {
      background: transparent;
    }
  }
  .umana-signup {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    max-width: none;
    background-size: 100vw !important;
    .umana-page-title.simple-title {
      margin-bottom: 10px;
    }
    @include bp(xmedium) {
      background-size: 70vw !important;
    }
    @include bp(xlarge) {
      background-size: 60vw !important;
    }
    .umana-signup__content {
      width: 100%;
      margin-bottom: 140px;
      @include bp(medium) {
        margin-bottom: 80px;
        width: 60%;
      }
      @include bp(large) {
        margin-bottom: 0px;
        width: 40%;
      }
      .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
        margin-bottom: 10px;
      }
    }
  }
}

.steps-content {
  margin-bottom: 10px;
  @include bp(xmedium) {
    margin-bottom: 40px;
  }
  .ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
    width: 100%;
    max-width: none;
    margin: 0 0 20px 0;
    flex-direction: row !important;
    .ant-steps-item {
      .ant-steps-item-container {
        padding: 0;
        padding-left: 0;
        *,
        .ant-steps-item-title {
          color: $color-blue !important;
          &:hover {
            color: $color-blue;
          }
        }
      }
      &.ant-steps-item-process,
      &.ant-steps-item-active {
        padding-left: 0 !important;
      }
      &.ant-steps-item-finish,
      &.ant-steps-item-wait {
        width: 0;
        min-width: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 !important;
      }
    }
  }
}

/// ======== login =======

.umana.login {
  background: $color-white;
  background-position-x: left;
  background-image: linear-gradient($bg-blue, $bg-blue);
  background-size: 30vw 70vh;
  background-repeat: no-repeat;
  background-position: 0px 0;
  padding-top: 60px;
  @include bp(xmedium) {
    padding-top: 80px;
  }
  .app--header.umana__header {
    z-index: 100;
    background: $color-white;
    @include bp(xmedium) {
      background: transparent;
    }
  }
  .umana-login {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    max-width: none;
    background-size: 100vw !important;
    .umana-page-title.simple-title {
      margin-bottom: 10px;
    }
    @include bp(xmedium) {
      background-size: 70vw !important;
    }
    @include bp(xlarge) {
      background-size: 60vw !important;
    }
    .umana-login__content {
      width: 100%;
      margin-bottom: 140px;
      @include bp(medium) {
        margin-bottom: 80px;
        width: 60%;
      }
      @include bp(large) {
        margin-bottom: 0px;
        width: 40%;
      }
      .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
        margin-bottom: 10px;
      }
    }
  }
  .notification {
    padding-bottom: 20px;
  }
}

.steps-content {
  margin-bottom: 10px;
  @include bp(xmedium) {
    margin-bottom: 40px;
  }
  .ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
    width: 100%;
    max-width: none;
    margin: 0 0 20px 0;
    flex-direction: row !important;
    .ant-steps-item {
      .ant-steps-item-container {
        padding: 0;
        padding-left: 0;
        *,
        .ant-steps-item-title {
          color: $color-blue !important;
          &:hover {
            color: $color-blue;
          }
        }
      }
      &.ant-steps-item-process,
      &.ant-steps-item-active {
        padding-left: 0 !important;
      }
      &.ant-steps-item-finish,
      &.ant-steps-item-wait {
        width: 0;
        min-width: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 !important;
      }
    }
  }
}
