$black: #000000;
$white: #FFFFFF;
$primary: #006e8f;

@mixin after() {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  background-color: $primary;
  border-radius: 50px;
}
