.umana-avatarUp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column-reverse;
  @include bp(medium) {
    flex-direction: row;
  }
  @include element(content) {
    flex: 1 1 50%;
    color: $color-text;
    p,
    h3 {
      font-family: $font-primary;
      color: $color-text;
      max-width: 200px;
      margin-bottom: 15px;
    }
  }
  @include element(avatar) {
    position: relative;
    width: 120px;
    height: 120px;
    .ant-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
    .inputUploadfield {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .ant-avatar {
      background: $color-white;
      border: $border;
      i,
      svg {
        font-size: 60px;
        line-height: 100px;
        @include bp(xmedium) {
          line-height: 120px;
        }
      }
      &.company {
        i,
        svg {
          color: $color-green;
        }
      }
      &.user {
        i,
        svg {
          color: $color-orange;
        }
      }
    }
  }
}

.avatar-crop {
  width: calc(100vw - 50px) !important;
  max-width: 1000px;
  height: calc(100vh - 50px) !important;
  overflow: auto;
  top: 25px;
}

.umana-avatar-modale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .umana-avatar-input {
    width: calc(100% - 230px);
  }
  &--inputBtn {
    width: 100%;
    margin-right: 20px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    input[type='file'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-bottom: 0 !important;
      outline: none;
      cursor: pointer;
      &::-webkit-file-upload-button {
        // visibility: hidden;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 1px dashed $color-text;
        width: 200px;
        text-transform: uppercase;
        height: 50px;
        outline: none;
        color: $color-text;
        cursor: pointer;
        &:hover {
          border: 1px solid $color-text;
        }
      }
    }
  }
  &--crop {
    width: 100%;
    margin: 30px auto;
    order: 2;
    max-width: 950px;
    div {
      height: auto;
      max-height: 400px;
    }
  }
  &--preview {
    margin-top: -20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid $color-text;
    overflow: hidden;
    i {
      width: 200px;
      height: 200px;
      line-height: 200px;
      text-align: center;
      font-size: 70px;
    }
    .img-preview {
      width: 200px;
      height: 200px;
      overflow: hidden;
    }
  }
  .ant-btn {
    order: 3;
    margin-left: auto;
  }
}

.ant-upload-picture-card-wrapper {
  .ant-upload-list-item-actions {
    a {
      display: none !important;
    }
    .ant-btn.ant-btn-text.ant-btn-sm.ant-btn-icon-only.ant-upload-list-item-card-actions-btn {
      background: rgba($color-black, 0.3);
      width: 40px;
      height: 40px;
    }
  }
}

.ant-modal-wrap.antd-img-crop-modal {
  .ant-modal-footer {
    display: flex;
    .ant-btn {
      height: 40px;
      text-transform: uppercase;
      padding: 5px 20px;
      font-size: 14px;
      background: $color-white;
      color: $color-text;
      border: 1px dashed $color-text;
      &:first-child {
        border: 1px dashed transparent;
        color: $color-error;
        background: $color-white;
        &:hover {
          background: #f2f2f2;
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.ant-avatar.ant-avatar-circle.ant-avatar-icon.table-avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    font-size: 15px;
    transform: translateY(0) !important;
  }
}
