@import '../../assets/css/shared/mixins';

.umana-list {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include bp(medium) {
    justify-content: flex-start;
  }
  &.list-empty {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    .umana-layout-cl {
      padding: 0;
      margin-top: -50px;
    }
  }
}

.umana-card {
  border: 1px solid rgba($color-blue, 0.5);
  padding: 30px 15px 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: $color-white;
  width: 100%;
  min-height: 200px;
  max-width: 250px;
  @include bp(medium) {
    min-height: 300px;
    width: calc(50% - 20px);
  }
  @include bp(large) {
    min-height: 400px;
    width: calc(33.33% - 20px);
  }
  &:hover {
    box-shadow: $shadow;
  }
  @include element(options) {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .umana-card--button {
      color: $color-text;
      padding: 10px;
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease-in-out;
      &:hover {
        color: $color-blue;
      }
    }
  }
  @include element(title) {
    line-height: 1.2;
    text-align: center;
    margin: 10px auto 15px;
    font-weight: 300;
    font-size: 18px;
    @include bp(small) {
      font-size: 20px;
    }
    @include bp(xmedium) {
      font-size: 24px;
    }
  }
  @include element(description) {
    width: 100%;
    color: $color-text;
    text-align: center;
    line-height: 1.2;
    max-height: 48px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  @include element(link) {
    border: 1px solid rgba($color-blue, 0.5);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-blue;
    transition: 0.5s ease-in-out;
    i {
      font-size: 28px;
    }
    &:hover {
      background: $color-blue;
      color: $color-white;
      box-shadow: $shadow-input;
    }
  }
}
