@import '../shared/mixins';

.ant-drawer.ant-drawer-open {
  .ant-drawer-content-wrapper {
    width: 100% !important;
    @include bp(xmedium) {
      width: 50% !important;
    }
    .ant-drawer-content .ant-drawer-wrapper-body {
      .ant-drawer-header {
        padding-left: 56px;
        display: block;
        @include bp(xmedium) {
          display: none;
        }
        .ant-drawer-close {
          right: auto;
          left: 0;
        }
        .ant-drawer-title {
          color: $color-text;
          font-family: $font-primary;
        }
      }
      .umana-drawer {
        & > h3 {
          font-size: 32px;
          &:after {
            content: '';
            display: block;
            width: 30px;
            height: 5px;
            margin-top: 10px;
            background-color: $color-blue;
            opacity: 0.3;
          }
        }
      }
    }
  }
}
