@import '../shared/mixins';

.umana-form--section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-primary;
  margin-bottom: 30px;
  background: $color-white;
  box-shadow: $shadow;
  padding: 30px 10px;
  @include bp(xmedium) {
    padding: 30px 20px;
  }
  @include bp(large) {
    padding: 30px 40px;
  }
  h1,
  h2,
  h3 {
    margin: 0 10px 20px;
  }
  &.simple-form {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .ant-form-item {
    margin: 0 10px 10px;
  }
  & > .umana-form--group {
    &:first-child {
      padding-top: 0;
      border-top: 0;
      margin-top: 0;
    }
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba($color-text, 0.2);
  }
}

form.ant-form,
.umana-form,
form.ant-form.ant-form-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-primary;
  position: relative;

  .form--overlay.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background: fade-out(#fff, .4);
    top: 0;
    left: 0;
    z-index: 88;
  }

  .ant-form-item {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin-bottom: 10px;
    margin: 0 10px 10px;
    position: relative;
    .ant-form-item-explain {
      font-size: 11px;
    }

    .help {
      position: absolute;
      top: -26px;
      right: 0;
      font-size: 20px;
      opacity: 0.3;
      i {
        color: $color-text;
        font-size: 20px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &.ant-form-item-has-error {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      text-align: left;
      max-height: 30px;
      font-family: $font-primary;
      label {
        color: $color-text;
        font-family: $font-primary;
      }
    }
    .ant-form-item-control {
      min-height: 30px;
      flex: 1;
    }
    &.item-row {
      flex-wrap: wrap;
      flex-direction: row !important;
      .ant-form-item-label {
        width: 50%;
      }
      .ant-form-item-control {
        width: 50%;
        padding-left: 10px;
      }
    }
    &.form-item--sm {
      width: 100%;
      @include bp(xmedium) {
        width: calc(50% - 20px);
      }
      @include bp(large) {
        width: calc(33.33% - 20px);
      }
    }
    &.form-item--md {
      width: 100%;
      @include bp(xmedium) {
        width: calc(50% - 20px);
      }
    }
    &.form-item--xf {
      width: 100%;
      @include bp(xmedium) {
        width: calc(66% - 20px);
      }
    }
    &.form-item--lg {
      width: 100% !important;
    }
  }
  .umana-form--section {
    width: 100%;
    background: $color-white;
    box-shadow: $shadow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $font-primary;
    margin-bottom: 30px;
    padding: 30px 10px;
    @include bp(xmedium) {
      padding: 30px 20px;
    }
    @include bp(large) {
      padding: 30px 40px;
    }
    h1,
    h2,
    h3 {
      margin: 0 10px 20px !important;
    }
    & > .umana-form--group {
      &:first-child {
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
      }
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgba($color-text, 0.2);
    }
  }
}

label {
  color: $color-text;
  font-family: $font-primary;
  span.required {
    color: $color-error;
    padding-right: 5px;
  }
}

.umana-form--group {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 30px;
  position: relative;

  & > .ant-form-item.ant-row {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    flex: auto;
    &.form-item--sm {
      width: calc(33.33% - 20px);
    }
    &.form-item--fx {
      width: calc(66% - 20px);
    }
    &.form-item--md {
      width: 100%;
      @include bp(xmedium) {
        width: calc(50% - 20px);
      }
    }
  }
  .form-item--sm {
    width: 100%;
    margin: 0 10px 10px;
    @include bp(xmedium) {
      width: calc(50% - 20px);
    }
    @include bp(large) {
      width: calc(33.33% - 20px);
    }
  }
  .form-item--md {
    width: 100%;
    @include bp(xmedium) {
      width: calc(50% - 20px);
    }
  }
  .form-item--xf {
    width: 100%;
    @include bp(xmedium) {
      width: calc(66% - 20px);
    }
  }
  .form-item--lg {
    width: 100% !important;
  }
  .form-item--delete {
    position: absolute;
    right: 0;
    top: 10px;
    color: rgba($color-text, 0.5);
    z-index: 10;
    &:hover {
      color: $color-text;
    }
  }
  &.group-row {
    margin: 0;
    padding: 0;
    border-top: 0;
    margin-bottom: 10px;
  }
}
.umana-form--footer {
  padding: 10px 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &.columns {
    display: flex;
    .ant-btn {
      margin: 10px;
    }
  }
}

.ant-row.ant-form-item {
  overflow: hidden;
}

// space
.ant-space.umana-form--group {
  border-top: 1px solid rgba($color-text, 0.2);
  padding: 20px 0 !important;
  &:first-child {
    border-top: 0;
    margin-top: 0 !important;
  }
  &.no-wrap {
    &:first-child {
      border-top: 0 !important;
      margin-top: 0 !important;
    }
    .ant-space-item {
      &:nth-child(1) {
        width: calc(33.33% - 20px);
      }
    }
  }
  &.two-columns {
    .ant-space-item {
      width: calc(50% - 20px);
    }
  }
  &.academicLevel {
    justify-content: center;
    align-items: center;
    .ant-space-item {
      width: calc(50% - 20px);
      &:nth-child(1) {
        width: calc(50% - 20px);
      }
      &:nth-child(3) {
        width: 50%;
      }
      &:nth-child(4) {
        width: 50%;
      }
    }
  }
  .ant-space-item {
    width: calc(33.33% - 20px);
    margin: 0 10px 10px;
    .ant-row.ant-form-item {
      margin: 0;
    }
    &:nth-child(1) {
      width: 100%;
    }
    &:last-child {
      margin: 0;
    }
    .ant-space-item {
      width: 100%;
    }
  }
}

.ant-space.umana-form--group.form-experience {
  .ant-space-item {
    width: calc(50% - 20px);
    margin: 0 10px 10px;
    .ant-space {
      padding: 10px 0 0 !important;
      &.full {
        .ant-space-item {
          width: 100%;
        }
      }
    }
    &:nth-child(1),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
      width: 100%;
    }
  }
}

.group-academic {
  .ant-space-item:nth-child(4) {
    width: 100% !important;
  }
}

// search
.ant-input-search.ant-input-search-small {
  .ant-input-wrapper.ant-input-group {
    .ant-input-group-addon {
      width: 50px;
      .ant-btn.ant-btn-sm.ant-btn-icon-only.ant-input-search-button {
        width: 50px;
        margin: 0;
        height: 45px;
        background: $color-white;
        border: $border;
      }
    }
  }
}
