.umana-table-section {
  position: relative;
  .umana-spinner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100% - 80px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-white, 0.5);
  }
}

.table--matching {
  thead {
    position: relative;
    border-right: 30px solid #f2f2f2;
    border-left: 30px solid #f2f2f2;
    tr {
      border-bottom: 0;
    }
    th {
      background: #f2f2f2 !important;
      font-weight: 400;
    }
  }

  tbody {
    border-right: 30px solid $color-white;
    border-left: 30px solid $color-white;
    td {
      p {
        margin-bottom: 0;
      }
      h3.success {
        color: $color-green;
      }
      .ant-tag {
        font-size: 13px;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
.content-matching {
  padding: 0;
}

.theme-umana {
  .table--matching {
    h3.success,
    h2.success,
    h1.success {
      color: $color-blue;
    }
  }
}

.theme-company {
  .table--matching {
    h3.success,
    h2.success,
    h1.success {
      color: $color-green;
    }
  }
}
.theme-candidate {
  .table--matching {
    h3.success,
    h2.success,
    h1.success {
      color: $color-green;
    }
  }
}

.nosuccess,
.noSuccess {
  color: $color-text;
}

.umana-table_exerpt {
  display: flex;
  overflow: hidden;
  p,
  div {
    margin-bottom: 0;
  }
}

.ant-table-cell {
  .ant-avatar.ant-avatar-circle.ant-avatar-icon {
    font-size: 18px;
    i {
      font-size: 18px;
      text-align: center;
      margin-right: 0 !important;
      line-height: 16px;
    }
  }
}
